<nav class="menu" id="theMenu">
	<div class="menu-wrap">
		<h1 class="logo"><a href="#">It-Kids</a></h1>
		<i class="fa fa-times menu-close"></i>
		<ul class="nav nav-tabs nav-stacked span3 sidePanelFont menu" id="sidePanel">
			<li><a href="#home" class="smoothScroll">首页</a></li>
			<li><a href="#about" class="smoothScroll">简介</a></li>
			<li><a href="#">课程</a></li>
			<li><a href="#">登录</a></li>
			<li><a href="#">注册</a></li>
			<li><a href="#">联系</a></li>
		</ul>
	</div>
</nav>


<section id="home" name="home"></section>
<div id="headerwrap"/>

<section id="about" name="about"></section>
<div id="aboutwrap">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 name">
				<img class="img-responsive" src="img/pic.png">
				<p>DANIEL PRATT</p>
				<div class="name-label"></div>
			</div><! --/col-lg-4-->
			<div class="col-lg-8 name-desc">
				<h2>TALENTED DESIGNER & <br/>FRONT-END DEVELOPER <br/>ENJOYING THE BEAUTIFUL NYC</h2>
				<div class="name-zig"></div>
				
				<div class="col-md-6">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
				<div class="col-md-6">
					<p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
					<p> Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
				</div>
				
			</div><! --/col-lg-8-->
	
		</div><!-- /row -->
	</div><!-- /container -->
</div><!-- /aboutwrap -->

<! -- ABOUT SEPARATOR -->
<div class="sep about" data-stellar-background-ratio="0.5"></div>
{{outlet}}
